.list-item-container {
  display: flex;
  background-color: transparent;
  color: white;
  font-family: Roboto;
  border-radius: 3px;
  list-style-type: none;
  border: 1px solid aliceblue;
  padding-bottom: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .list-item-container {
    width: 320px;
    margin-right: 10px;
  }
}
.imgstars {
  width: 130px;
}

.initial-section {
  color: white;
  background-color: #f59e0b;
  border-radius: 60px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 25px;
  height: 30px;
  font-family: Roboto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

.text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 17px;
  margin: 0px;
  padding: 3px;
}

.para {
  font-size: 14px;
  margin: 0px;
  padding: 3px;
}

.button-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.delete-button {
  background-color: transparent;
  border: 0px none;
  padding: 10px;
}

.delete-icon {
  height: 20px;
  width: 20px;
}
